Packages:               Version:
certifi	                2018.4.16
chardet	                3.0.4
codegen	                1.0
django	                2.0
djangorestframework	    3.8.2
googlemaps	            2.5.1
idna	                2.6
patterns	            0.3
pip	                    9.0.3
pytz	                2018.4
requests	            2.18.4
setuptools	            39.0.1
urllib3	                1.22
virtualenv	            15.2.0
virtualenvwrapper-win	1.2.5
wheel	                0.31.0