<!DOCTYPE html>
<head>
    <title>Search</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        span{
            color:red;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a href="{% url 'maps' %}">Maps</a></li>
            <li><a href="{% url 'search' %}">Search</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="jumbotron text-center">
        <h1>Search text:</h1>
        <form method="get">
            <input type="text" name="text">
            <button type="submit" class="btn btn-danger">Search</button>
        </form>
    </div>

    <div class="container">
        {% for s in search_result %}
            {% for o in output_line %}
            <ul class="list-group">
                <li class="list-group-item">{{s.idNo}}</li>
                <li class="list-group-item">{{s.country}}</li>
                <li class="list-group-item">{{s.town}}</li>
                <li class="list-group-item">{{s.location}}</li>
                <li class="list-group-item">{{ o|safe }}</li>
            </ul>
            {% endfor %}
        {% endfor %}
    </div>
</body>
</html>